<br><br>
    <form #f="ngForm">
        <div class="form-group">
        <input class="form-control" type="text" name="id" [(ngModel)]="client.id" #i="ngModel" placeholder="Entrer votre ID" required><br>
        <div *ngIf="i.touched && i.errors.required" class="alert alert-danger" [style.color]="'red'" [style.font-weight]="'bold'">le champ email est obligatoire</div>
        </div>
    
    <div class="form-group">
    <input class="form-control" type="text" name="nom" [(ngModel)]="client.name" #n="ngModel" minlength="3" placeholder="Entrer votre NOM"><br>
    <div *ngIf="n.invalid">
    <div *ngIf="n.errors.minlength" [style.color]="'red'" class="alert alert-danger" [style.font-weight]="'bold'">le nom doit contenir au moins 3 caracteres</div>
    </div>
    </div> 
    
    <div class="form-group">
    <input class="form-control" type="text" name="username" [(ngModel)]="client.username" #u="ngModel" minlength="3" placeholder="Entrer votre USER NAME" required><br>
    <div *ngIf="u.invalid">
        <div *ngIf="u.touched && u.errors.required" [style.color]="'red'" class="alert alert-danger" [style.font-weight]="'bold'">le champ username est obligatoire</div>
    <div *ngIf="u.errors.minlength" [style.color]="'red'" class="alert alert-danger" [style.font-weight]="'bold'">le username doit contenir au moins 3 caracteres</div>
    </div>
    </div>
    
    <div>
    <input class="form-control" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter votre EMAIL" type="email" name="email" [(ngModel)]="client.email" #e="ngModel" required><br>
    </div>
    <div *ngIf="e.invalid">
        <div *ngIf="e.touched && e.errors.required" class="alert alert-danger" [style.color]="'red'" [style.font-weight]="'bold'">le champ email est obligatoire</div>
    </div>    
    <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" class="alert alert-danger" for="exampleCheck1">Check me out</label>
    </div>
    <button class="btn btn-primary" [disabled]="f.invalid" (click)="ajouter()">ajouter</button>
    </form>



    
